<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.common.mapper.SeekArticleMapper">
    
    <resultMap type="SeekArticle" id="SeekArticleResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="userId"    column="user_id"    />
        <result property="relatedItemId"    column="related_item_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectSeekArticleVo">
        select id, title, content, user_id, related_item_id, create_time, update_time, is_deleted from ss_seek_article
    </sql>

    <select id="selectSeekArticleList" parameterType="SeekArticle" resultMap="SeekArticleResult">
        <include refid="selectSeekArticleVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="relatedItemId != null "> and related_item_id = #{relatedItemId}</if>
        </where>
    </select>
    
    <select id="selectSeekArticleById" parameterType="Integer" resultMap="SeekArticleResult">
        <include refid="selectSeekArticleVo"/>
        where id = #{id}
    </select>

    <insert id="insertSeekArticle" parameterType="SeekArticle" useGeneratedKeys="true" keyProperty="id">
        insert into ss_seek_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="userId != null">user_id,</if>
            <if test="relatedItemId != null">related_item_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="userId != null">#{userId},</if>
            <if test="relatedItemId != null">#{relatedItemId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateSeekArticle" parameterType="SeekArticle">
        update ss_seek_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="relatedItemId != null">related_item_id = #{relatedItemId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSeekArticleById" parameterType="Integer">
        delete from ss_seek_article where id = #{id}
    </delete>

    <delete id="deleteSeekArticleByIds" parameterType="String">
        delete from ss_seek_article where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>